---
layout: default
title: Home
cover: false
about: 'about.html'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix st-single-color st-shape-circle">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}

            {% if page.about %}
            <nav style="float: left; padding: 8px;">
                <a href="{{page.about}}">
                    <img class="author-thumb" src="/assets/images/profile.png" style="width: 39px; height: 39px;" />
                    <span class="hidden">About Me</span>
                </a>
            </nav> 
            {% endif %}

            <nav style="float: right; padding: 5px;">
                {% if site.author.github %}
                    <a title="GitHub" class="st-icon-github-alt" href="https://github.com/{{site.author.github}}">Github</a>
                {% endif %}

                {% if site.author.plus %}
                    <a title="Google+" class="st-icon-googleplus" href="https://plus.google.com/u/0/{{site.author.plus}}">Google+</a>
                {% endif %}

                {% if site.author.android %}
                    <a title="Android" class="st-icon-android" href="https://play.google.com/store/apps/developer?id={{site.author.android}}">Android</a>
                {% endif %}

                {% if site.author.linkedin %}
                    <a title="LinkedIn" class="st-icon-linkedin" href="https://www.linkedin.com/profile/view?id={{site.author.linkedin}}">Linked In</a>
                {% endif %}

                {% if site.author.gmail %}
                    <a title="Gmail" class="st-icon-gmail" href="mailto:{{site.author.gmail}}">Gmail</a>
                {% endif %}

                {% if site.author.overflow %}
                    <a title="Stack Overflow" class="st-icon-stackoverflow" href="http://stackoverflow.com/users/{{site.author.overflow}}">Stack Overflow</a>
                {% endif %}

                {% if site.author.twitter %}
                    <a title="Twitter" class="st-icon-twitter" href="https://twitter.com/{{site.author.twitter}}">Twitter</a>
                {% endif %}
            </nav>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %}
                    {{ site.description }}
                {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title" style="display: inline-block;"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <span style="font-size: 15px; font-style: italic; float: right;">
                <a style="text-decoration: none;" href="{{ site.domain_name }}{{ post.url }}#disqus_thread"></a>
            </span>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author.name %}
                <img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
                {{ site.author.name }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

    <script type="text/javascript">
    var disqus_shortname = 'binaryrambles'; 

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>

</main>
